################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/botlib/Debug
/src/cgame/Debug
/src/Debug
/src/extractfuncs/Debug
/src/game/Debug
/src/renderer/Debug
/src/splines/Debug
/src/ui/Debug
/src/extractfuncs/extractfuncs.exe
/src/build
/build
/main
